@mixin admin-main-container ($color, $bcolor, $borderColor) {
  @media (min-width: $screen-xs) {
    #admin-main-container {
      position: absolute;
      top: 36px;
      left: 250px;
      right: 0;
      bottom: 0;
      color: $color;
      padding: $spacing 0;
      overflow: auto;

      #admin-content-container {
        height: 100%;

        .section {
          padding: 0 $spacing $spacing;
          height: 100%;
          background-color: $bcolor;
          overflow-y: auto;
          border-radius: $subtle;

          .title {
              padding: $spacing;
              color: $white;
              background-color: $bridgeRed;
              margin: 0 ;
              @include font-size(20px);
              border-top-left-radius: $subtle;
              border-top-right-radius: $subtle;
              margin-bottom: $gutter;
              margin-left: -$spacing;
              margin-right: -$spacing;
              border-bottom: 2px solid $borderColor;
          }
        }
      }
    }
  }
}
