@mixin admin-content($color, $bgColor: transparent) {
    .admin-content-container {
        position: relative;

        .admin-content {
            color: $color;
            background-color: $bColor;
            padding: $gutter $spacing $column+$spacing;
            max-height: 100%;
            overflow-y: auto;
            margin-bottom: -$column;
        }
    }
}