.tagus-gallery-image-container {
    height: 200px;
    margin-bottom: 15px;
    text-align: center;
    white-space: nowrap;
    position: relative;
}

.tagus-gallery-image-container:hover .tagus-gallery-image-link {
    display: inline-block;
}

.tagus-gallery-image-link {
    display: none;
    padding: 5px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    font-size: 20px;
    color: var(--text-color);
}

.tagus-gallery-image-link:hover,
.tagus-gallery-image-link[aria-describedby="tagus-popover"] {
    color: var(--main-red);
    display: inline-block;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.tagus-gallery-image {
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
    vertical-align: middle;
}