.tagus-unit-tabs {
    padding-bottom: 15px;
}

.tagus-unit-field {
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
}

.tagus-unit-field:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}