@mixin buttons () {
  .button {
    display: inline-block;
    padding: $subtle * 2 $spacing;
    margin-bottom: $spacing;
    margin-right: $spacing;
    @include font-size(14px);
    font-weight: bold;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width:100%;
    background-color: $lightGray;
    color: $black;
    transition: all 0.25s;
    border: none;
    border-bottom: 5px solid $darkGray;
    position: relative;
    z-index: 1;



    &:hover {
      text-decoration: none;
      background-color: $darkGray;
      color: $white;
    }

    &.submit,
    &.edit {
      @include invert-on-hover($white, $lightBlue2, $darkBlue);
    }

    &.add {
      @include invert-on-hover($white, $green2, $green);
    }

    &.delete {
      @include invert-on-hover($white, $red, $bridgeRed);
    }

    &.disabled {
      cursor: not-allowed;
    }
  }

  @media(min-width: $screen-xs) {
    .button {
      width: 150px;
      min-width: 150px;

    }
  }
}
