@mixin main ($color, $hColor, $aColor,  $bColor, $bhColor, $baColor, $borderColor) {
    html, body {
        padding: 0;
        margin: 0;
        background-color: $bColor;

        * {
            font-family: 'Open Sans', sans-serif;
        }

        ul {
            padding: 0;
            margin: 0;
            list-style: none;

            li {
                margin-bottom: $spacing;
            }
        }

        a {
            color: $color;

            &:hover {
                text-decoration: none;
                color: $color;
            }

            &.block {
                display: block;
                transition: all 0.25s;


                &:hover {
                  background-color: $bhColor;
                  color: $hColor;
                  cursor: pointer;
                }

                &.active {
                  background-color: $baColor;
                  color: $aColor;
                  text-decoration: none;
                }
            }
        }

        .spacing {
            margin-right: $spacing;
        }

        .tab-navigation {

            ul {
                border-bottom: 2px solid $borderColor;

                li {
                    display: inline-block;
                    margin-bottom: 0;
                    border-right: 2px solid $borderColor;

                    &:last-child {
                        border-right: none;
                    }
                }

                .tab {
                    padding: $spacing $column;
                    display: block;
                    @include font-size(16px);

                }
            }
        }

        .list {
            .item {
                a {
                    display: block;
                    width: 100%;
                    padding: $subtle;

                    &:hover {
                        color: $hColor;
                        cursor: pointer;
                    }

                    &.active {
                        color: $aColor;
                        font-weight: bold;
                    }
                }
            }
        }
    }

    @media (min-width: $screen-xs) {
        html, body {
            background-color: $bColor;
        }

    }

}
