#top-bar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--navigation-bg-color);
    min-height: 25px;
}

@media (min-width: 768px) {
    #top-bar {
        min-height: 70px;
    }
}