#avatar {
    color: white;
    background-color: #EC6052;
}

#avatar p {
    margin: 0;
}

#username {
    font-size: 16px;
    margin: 0;
    background-color: #892532;
}

@media (min-width: 768px) {
    #icon {
        padding: 15px;
        font-size: 40px;
    }
    
    #username {
        padding-bottom: 5px;
        padding-top: 5px;
    }
}