/*
    COMPONENT VARIABLES
*/
:root {
    --avatar-text-color: #fff;
}

#avatar {
    color: var(--avatar-text-color);
    background-color: var(--main-red);
}

#avatar p {
    margin: 0;
}

#username {
    font-size: 16px;
    margin: 0;
    background-color: var(--bridge-red);
}

@media (min-width: 768px) {
    #icon {
        padding: 5px;
        font-size: 60px;
    }
    
    #username {
        padding-bottom: 5px;
        padding-top: 5px;
    }
}