@import "_fa-variables.scss";


//colors:
$white: #ffffff;
$black: #000000;
$smokeWhite: #ecf0f5;


$darkGray: #333333;
$lightGray: #89949B;

$darkBlue: #2b6686;
$darkBlue2: #669ACA;
$darkBlue3: #263238;
$lightBlue: #4CFFFC;
$lightBlue2: #26a69a;
$lightBlue3: #a5daf7;

$green: #238442;
$green2: #3fcc6b;;
$lightGreen: #00ff94;


$red: #EC6052;
$bridgeRed: #892532;

$yellow: #ffd260;

//Spaces
$subtle: 5px;
$spacing: 15px;
$gutter: $spacing * 2;
$column: $gutter * 2;
$highSpace: $column * 2;

//Screen width
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
