@mixin font-size($size) {
    font-size: $size;
    line-height: $size + 2;
}

 @mixin invert-on-hover($main, $secondary, $third) {
     color: $main;
     background-color: $secondary;
     border-bottom: 5px solid $third;

     &:hover {
         background-color: $third;
         text-decoration: none;
     }

     &::after {
         content: "";
         position: absolute;
         bottom: 0;
         left: 0;
         width: 100%;
         height: 100%;
         transform: scaleY(0);
         transform-origin: bottom center;
         background: $third;
         z-index: -1;
         transition: transform 0.3s;
     }
     &:hover::after {
         transform: scaleY(1);
     }
 }

@mixin linear-gradient($angle, $color1, $color2) {
    background: $color1; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient($angle, $color1, $color2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient($angle, $color1, $color2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient($angle, $color1, $color2); /* For Firefox 3.6 to 15 */
    background: linear-gradient($angle, $color1, $color2); /* Standard syntax */
}

@mixin hex-to-rgba($color, $opacity: 0.4) {
    $red: red($color);
    $green: green($color);
    $blue: blue($color);

    background: rgba($red, $green, $blue, $opacity);
}