@mixin initializer($bColor, $color) {
    html,
    body {
        padding: 0;
        margin: 0;
        background-color: $bColor;
        * {
            font-family: 'Open Sans', sans-serif;
        }
    }
}