<html>
<head>
</head>
<link href="/css/libraries/bootstrap.min.css" type="text/css" rel="stylesheet"/>
<link href="/css/libraries/font-awesome.min.css" type="text/css" rel="stylesheet"/>
<link href="/css/styles.css" type="text/css" rel="stylesheet"/>
<body>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>Initializer!</h2>
        </div>
    </div>
</div>

<script src="js/libraries/jquery.min.js"></script>
<script src="js/libraries/bootstrap.min.js"></script>
</body>
</html>
